[default]
Inventory = ../Ansible_configuration/Inventory/Inventory.ini
remote_user = ubuntu
private_key_file = ~/ansible_keys/my_key.pem
role_path = ../Ansible_configuration/roles
host_key_checking = False

[privilege_escalation]
become = True
become_method = sudo